$jumbotron-padding: 1rem;
$jumbotron-bg:  #4FB3A7 ;
// $card-bg:  ;

@import "../bootstrap-4.5.3\ 2/scss/bootstrap.scss";

body{
    background-color: #E2B824;
}

.btnColor{
   background-color:  #4FB3A7;
}

.btn-filter{
    background-color:#E2B824 ;
}